.usertable {
    width:60%;
    background-color: rgb(249, 242, 242);
    margin: 50px auto;
   padding:50px ; 
}
.addbu{
background-color: skyblue;
color:white;
text-align: none;
font-weight: 400;
border-radius: 10%;
padding:5px;
text-decoration: none;
}
.usertable table{
    width: 100%;
    margin-top: 20px;
}

.usertable table th{
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}

.usertable table td{
    text-align: center;
    padding: 10px;
    background-color: azure;
}
.actionbutton button{
    outline: none;
    border:0;
    background-color: rgb(233, 80, 93);
    padding:8px 10px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}
.actionbutton a{
    text-decoration: none;
    outline: none;
    border:0;
    background-color: rgb(80, 233, 123);
    padding:6px 10px;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    margin:0 10px;
}